.App {
  text-align: center;
  padding: 2rem;
}
.chart-title {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  margin-top: 3rem;
}
.mt-0 {
  margin-top: 0;
}
.settings-button {
  position: fixed !important;
  bottom: 15px;
  right: 15px;
}
.MuiPopover-paper {
  padding: 1rem !important;
}