.App {
  text-align: center;
  padding: 2rem;
}
.chart-title {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  margin-top: 3rem;
}
.mt-0 {
  margin-top: 0;
}
.mt-3 {
  margin-top: 10px !important;
}
.settings-button {
  position: fixed !important;
  bottom: 15px;
  right: 15px;
}
.info-button {
  position: fixed !important;
  top: 15px;
  right: 15px;
}
.MuiPopover-paper {
  padding: 2rem !important;
}
.MuiPopover-paper * {
  margin-bottom: 3px !important;
}
.MuiFormLabel-root {
  width: 150px !important;
}